.filters-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  div {
    flex-basis: 14%;
  }
}

.sort-flex {
  margin-top: 1rem;
  display: flex;
  &__min,
  &__max {
    &--active {
      background: #f4f4f4;
    }
    cursor: pointer;
    border: 1px solid #777;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 25px;
  }
  &__min {
    margin-right: 1rem;
  }
}

@media (max-width: 1025px) {
}

@media (max-width: 769px) {
  .filters-flex {
    div {
      flex-basis: 50%;
    }
  }
}

@media (max-width: 500px) {
}

@media (max-width: 376px) {
  .sort-flex {
    font-size: 12px;
  }
}

@media (max-width: 321px) {
  .filters-flex {
    div {
      flex-basis: 100%;
    }
  }
}
