.catalog {
  &__cars {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  &__banner {
    margin-bottom: 2rem;
  }
}

.special-offer {
  &__installment {
    margin-top: 2rem;
  }
  &__latest {
    margin-bottom: 2rem;
  }
}

@media (max-width: 1025px) {
}

@media (max-width: 769px) {
}

@media (max-width: 426px) {
}

@media (max-width: 376px) {
}

@media (max-width: 321px) {
}
