.filters-with-cars-flex {
  flex-basis: 50%;
  padding: 2rem;
  &__carousel-mobile {
    display: none;
  }
}
.cars-list {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.filters-in-modal {
  display: flex;
  div {
    flex-basis: 50%;
  }
}
.change-car {
  display: flex;
  align-items: center;
  button {
    margin-left: 0.5rem;
    border-bottom: 1px dashed #000;
  }
}

@media (max-width: 1025px) {
}

@media (max-width: 769px) {
}

@media (max-width: 426px) {
  .cars-list {
    margin-top: 30px;
  }
  .filters-with-cars-flex {
    order: 1;
    &__carousel-desktop {
      display: none;
    }
    &__carousel-mobile {
      display: block;
    }
  }
  .filters-in-modal {
    display: block;
  }
}

@media (max-width: 376px) {
}

@media (max-width: 321px) {
}
