.button-with-modal-wrapper {
  display: inline-block;
}
.modal-container {
  &__cars {
    display: flex;
  }
  &__form {
    flex-basis: 40%;
  }
}
.credit-info {
  padding: 2rem;
  &__title {
    padding-bottom: 2rem;
    font-size: 25px;
  }
}
.trade-in-info {
  padding: 2rem;
  &__title {
    padding-bottom: 2rem;
    font-size: 25px;
  }
}
.credit-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__item {
    flex-basis: 25%;
  }
}
.trade-in-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__item {
    flex-basis: 25%;
  }
}
.credit-item {
  &__title {
    font-weight: bold;
    max-width: 150px;
    margin-bottom: 1rem;
  }
}
.trade-in-item {
  &__title {
    font-weight: bold;
    max-width: 150px;
    margin-top: 0.5rem;
  }
  img {
    width: 70px;
  }
}
/* .advantages {
  flex-basis: 50%;
  padding: 30px;
} */
.trade-in,
.credit {
  &__title {
    text-align: center;
    font-weight: bold;
  }
}
/* .trade-in,
.credit {
  &__advantages {
    text-align: left;
    ul li {
      margin-bottom: 1.5rem;
      padding-left: 40px;
      position: relative;
      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        content: "";
        background: url(../../../static/images/check.png);
        width: 30px;
        height: 30px;
        background-size: cover;
        position: absolute;
        left: 0;
        top: -5px;
      }
    }
  }
} */
.credit-advantages {
  padding: 2rem;
  display: flex;
  &__item {
    flex-basis: 50%;
    ul li {
      margin-bottom: 1.5rem;
      padding-left: 40px;
      position: relative;
      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        content: "";
        background: url(../../../static/images/check.png);
        width: 30px;
        height: 30px;
        background-size: cover;
        position: absolute;
        left: 0;
        top: -5px;
      }
    }
  }
}
.trade-in-advantages {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  &__item {
    flex-basis: 32%;
    ul li {
      margin-bottom: 1.5rem;
      padding-left: 40px;
      position: relative;
      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        content: "";
        background: url(../../../static/images/check.png);
        width: 30px;
        height: 30px;
        background-size: cover;
        position: absolute;
        left: 0;
        top: -5px;
      }
    }
  }
}
.advantages-item {
  &__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  &:first-child {
    padding-right: 2rem;
  }
}
.credit-banks {
  padding: 2rem;
  &__title {
    font-weight: 18px;
    font-weight: bold;
    padding-bottom: 2rem;
  }
  img {
    width: 100%;
  }
  &__subtitle {
    margin-top: 0.5rem;
    font-size: 12px;
  }
}
@media (max-width: 1025px) {
}

@media (max-width: 769px) {
  .modal-container {
    &__cars {
      flex-basis: 100%;
    }
    &__form {
      flex-basis: 50%;
      margin: 0 auto;
    }
  }
  .credit-row {
    &__item {
      flex-basis: 23%;
    }
  }
}

@media (max-width: 426px) {
  .modal-container {
    &__cars {
      flex-direction: column;
    }
    &__form {
      flex-basis: 100%;
    }
  }
  .credit-info,
  .trade-in-info {
    &__title {
      font-size: 20px;
    }
  }
  .credit-row {
    &__item {
      img {
        width: 40px;
      }
      flex-basis: 24%;
    }
  }
  .credit-item {
    &__title {
      font-size: 12px;
    }
    &__subtitle {
      font-size: 10px;
    }
  }
  .trade-in-row {
    &__item {
      &:first-child,
      &:nth-child(2) {
        margin-bottom: 1rem;
      }
      flex-basis: 24%;
    }
  }
  .trade-in-item {
    img {
      width: 45px;
    }
    &__title {
      font-size: 12px;
    }
  }
  .trade-in-advantages {
    display: block;
    &__item {
      &:first-child,
      &:nth-child(2) {
        margin-bottom: 1rem;
      }
    }
  }
  .credit-advantages {
    display: block;
    &__item {
      &:first-child {
        margin-bottom: 1rem;
      }
    }
  }
}

@media (max-width: 376px) {
}

@media (max-width: 321px) {
}
