ul.tabs__header {
  display: flex;
}
ul.tabs__header > li {
  display: flex;
  padding: 1rem;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  img {
    width: 42px;
    margin-right: 1rem;
  }
}
ul.tabs__header > li.tab__selected {
  /* background: #f4f4f4; */
  background: #edf1f7;
}
.tab {
  &__content {
    margin-top: 2rem;
  }
}

@media (max-width: 1025px) {
}

@media (max-width: 769px) {
}

@media (max-width: 500px) {
  ul.tabs__header {
    display: block;
  }
  ul.tabs__header > li {
    img {
      width: 18px;
      margin-right: 0.5rem;
    }
  }
}

@media (max-width: 376px) {
}

@media (max-width: 321px) {
}
