.custom-owl-carousel {
  position: relative;
  padding-bottom: 2rem;
}
.arrow-left {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  img {
    width: 30px;
    transform: rotate(180deg);
  }
}

.arrow-right {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  img {
    width: 30px;
  }
}
