* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato";
}

main {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

li {
  list-style: none;
}

.row {
  margin: 0 auto;
  max-width: 1170px;
}

.btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  outline: none;
  background: none;
  border: none;
}

.order-btn {
  background: linear-gradient(180deg, #c01215 0%, #720e16 100%);
  box-shadow: 0px 3px 0px #c01215, 0px 4px 35px rgba(114, 14, 22, 0.5);
  border-radius: 5px;
  font-weight: 700;
  font-size: 19px;
  padding: 15px 40px;
  color: #fff;
}

.callback-btn {
  background: linear-gradient(180deg, #c01215 0%, #720e16 100%);
  box-shadow: 0px 3px 0px #c01215, 0px 4px 35px rgba(114, 14, 22, 0.5);
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  padding: 10px 20px;
  color: #fff;
}

.show-more-btn {
  box-shadow: 0px 0px 21px 0px rgba(34, 60, 80, 0.2);
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  padding: 15px 25px;
}

.form-btn {
  background: linear-gradient(180deg, #c01215 0%, #720e16 100%);
  box-shadow: 0px 3px 0px #c01215, 0px 4px 35px rgba(114, 14, 22, 0.5);
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  padding: 15px 25px;
  width: 100%;
  color: #fff;
}

.credit-btn {
  background: linear-gradient(180deg, #c01215 0%, #720e16 100%);
  box-shadow: 0px 3px 0px #c01215, 0px 4px 35px rgba(114, 14, 22, 0.5);
  border-radius: 5px;
  font-weight: 700;
  font-size: 12px;
  padding: 10px 20px;
  color: #fff;
}

.clear-btn {
  font-weight: 700;
  font-size: 14px;
  color: #000;
}

.slide-link {
  background: linear-gradient(180deg, #c01215 0%, #720e16 100%);
  box-shadow: 0px 3px 0px #c01215, 0px 4px 35px rgba(114, 14, 22, 0.5);
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  padding: 15px 25px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.show-enter-active,
.show-leave-enter {
  transform: translateX(0);
  transition: all 0.3s linear;
}
.show-enter,
.show-leave-to {
  transform: translateX(100%);
}

.slide-leave-active,
.slide-enter-active {
  transition: 1s;
}
.slide-enter {
  transform: translate(100%, 0);
}
.slide-leave-to {
  transform: translate(-100%, 0);
}

input[type="text"] {
  background: #f4f4f4;
  outline: none;
  border: none;
  padding: 15px 25px;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
  font-family: inherit;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mb-60px {
  margin-bottom: 60px;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.d-block {
  display: block;
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  padding: 60px 0;
}

@media (max-width: 1025px) {
  .row {
    padding: 0 15px;
  }
}

@media (max-width: 769px) {
}

@media (max-width: 426px) {
  h2 {
    padding: 30px 0;
  }
  .order-btn,
  .credit-btn,
  .callback-btn,
  .form-btn,
  .slide-link {
    font-size: 12px;
  }
}

@media (max-width: 376px) {
}

@media (max-width: 321px) {
}
