.addition {
    &__img {
        width: 100%;
    }
    &__p {
        margin-bottom: 20px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 1025px) {
}

@media (max-width: 769px) {
}

@media (max-width: 426px) {
}

@media (max-width: 376px) {
}

@media (max-width: 321px) {
}
