.thank {
  text-align: center;
  &__row {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__text {
    max-width: 600px;
  }
}

@media (max-width: 500px) {
  .thank {
    &__row {
      padding-top: 30px;
    }
  }
}
