.contacts-row {
    padding-top: 60px;
    padding-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    &__text {
        flex-basis: 50%;
        padding-right: 1.5rem;
    }
    &__map {
        flex-basis: 50%;
        img {
            width: 100%;
        }
    }
}
.row-text {
    &__h3 {
        font-size: 16px;
        padding-top: 2rem;
    }
    &__p {
        padding-top: 2rem;
        font-size: 14px;
        a {
            color: #000;
        }
    }
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}
.table tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.table td,
.table th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

@media (max-width: 1025px) {
}

@media (max-width: 769px) {
}

@media (max-width: 500px) {
    .contacts-row {
        padding-top: 30px;
        display: block;
        &__text {
            padding-bottom: 3rem;
            padding-right: 0;
        }
    }
}

@media (max-width: 376px) {
    .table-wrapper {
        overflow-x: scroll;
    }
}
@media (max-width: 321px) {
}